version: '3.8'

networks:
  vitalis-network:
    driver: bridge

services:
  cassandra:
    image: cassandra:4.1
    container_name: cassandra-db
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "VitalisCluster"
      CASSANDRA_DC: "datacenter1"
      CASSANDRA_RACK: "rack1"
      CASSANDRA_ENDPOINT_SNITCH: "SimpleSnitch"
    volumes:
      - ./sql/schema.cql:/docker-entrypoint-initdb.d/schema.cql
      - ./sql/data.cql:/docker-entrypoint-initdb.d/data.cql
    networks:
      - vitalis-network
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe cluster" ]
      interval: 30s
      timeout: 20s
      retries: 10
      start_period: 60s

  client-service:
    build:
      context: ./client-service
      dockerfile: Dockerfile
    container_name: client-service-app
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
      SPRING_CASSANDRA_CONTACT_POINTS: cassandra
      SPRING_CASSANDRA_PORT: 9042
      SPRING_CASSANDRA_KEYSPACE_NAME: vitalis_keyspace
      SPRING_CASSANDRA_LOCAL_DATACENTER: datacenter1
    depends_on:
      cassandra:
        condition: service_healthy
    networks:
      - vitalis-network
    restart: unless-stopped

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    container_name: order-service-app
    ports:
      - "8083:8083"
    environment:
      SERVER_PORT: 8083
      SPRING_CASSANDRA_CONTACT_POINTS: cassandra
      SPRING_CASSANDRA_PORT: 9042
      SPRING_CASSANDRA_KEYSPACE_NAME: vitalis_keyspace
      SPRING_CASSANDRA_LOCAL_DATACENTER: datacenter1
    depends_on:
      cassandra:
        condition: service_healthy
    networks:
      - vitalis-network
    restart: unless-stopped

  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: product-service-app
    ports:
      - "8084:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_CASSANDRA_CONTACT_POINTS: cassandra
      SPRING_CASSANDRA_PORT: 9042
      SPRING_CASSANDRA_KEYSPACE_NAME: vitalis_keyspace
      SPRING_CASSANDRA_LOCAL_DATACENTER: datacenter1
    depends_on:
      cassandra:
        condition: service_healthy
    networks:
      - vitalis-network
    restart: unless-stopped
